button {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  &:focus {
    outline: none;
  }
}

:root {
  background-color: var(--f-bg);
  transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

html,
body {
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 0.5px;
}
