:root,
body,
html {
  letter-spacing: 0.5px !important;
}
button {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
  &:focus {
    outline: none;
  }
}
